<div id="vehicle-details-section">
  <div class="errorDeletioen">{{#if errorDeletion}}
    <a class='error-banner' href="/vehicles/details/{{vehicle.vin}}">
      <div class='action-error-message error'>
        <i>
          {{errorDeletion}}
        </i>
        <p>
          Close X
        </p>
      </div>
    </a>
    {{/if}}
  </div>
  <div class='vehicle-details'>
    <div id="vehicle-details-div">

      <div class='set-of-pictures-left-side'>
        <img class='main-image' src="{{vehicle.primaryPhotoUrl}}" alt="image of {{vehicle.make}} vehicle" />
        <div class='more-images'>
          {{#each vehicle.photoUrls}}
          <img class='small-pic' src="{{this}}" alt="small image - {{vehicle.make}}" />
          {{/each}}
        </div>
      </div>
      <div class='main-details'>
        <h1>
          {{vehicle.title}}
        </h1>
        <hr style="border-top: 1px solid lightgray">

        <div style="font-weight: bold; color:gray">
          Condition: {{ vehicle.condition }} | Exterior: {{ vehicle.colorExterior }}
        </div>
        <div id="details-price-mileage">
          <div id='details-price'>
            <h2>{{vehicle.price}}</h2>
          </div>
          <div id='details-mileage'>
            <h2>{{ vehicle.mileage}} miles</h2>
          </div>
        </div>
        <p>
          {{vehicle.doorCount}} {{vehicle.driveline}}
        </p>
        <p>
          Exterior {{vehicle.colorExterior}}
        </p>
        <p style="font-size:x-small">{{vehicle.description}}</p>
        <p>
          {{vehicle.city}}, {{vehicle.state}}
        </p>
        <div class='save'>
          <form action="/profile/savedvehicles" method="POST">
            <input type='hidden' name="userName" value={{user}} />
            <input type='hidden' name="vin" value={{vehicle.vin}} />
            <input type='hidden' name="make" value={{vehicle.make}} />
            <input type='hidden' name="model" value={{vehicle.model}} />
            <button type='submit' class='btn btn-success'>
              {{#if isSaved}}
              Saved
              {{else}}
              Save This Vehicle
              {{/if}}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{{!-- ************ --}}
{{!-- D E A L E R --}}
{{!-- ************ --}}

<div id="dealer-section-container">

  <div>
    <h3>Dealer Reviews</h3>
    <hr style="border-top: 1px solid lightgray">
  </div>

  <div id="dealer-content-container">
    <div id='dealer-name-title'>

      <div id="logo-dealer">
        <img style="height: 21px; margin: auto 0" src="../../images/carDealershipIcon.png">
        <h4 style="margin-left: 1rem;">{{vehicle.dealerName}}</h4>
      </div>

      <hr style="border-top: 1px solid lightgray">

      <h5>Review this dealer</h5>
      <p>Share your thoughts with other customers</p>
      <form action="/review/add-review/{{vehicle.dealerName}}/{{vehicle.vin}}">
        <button type='submit' class='btn btn-primary'>
          Write a customer review
        </button>
      </form>
    </div>

    <div id='reviews-container'>

      <div class='dealer-review-section'>
        <div class='reviews' style="margin-left: 2rem;">
          {{#each foundDealer.0.reviews}}
          <div style="display: flex; flex-direction: row">
            <img style="width: 33px;" src="{{this.user_id.profilePic}}" alt="image of user" />
            <p style="margin: auto 1rem;"><b>{{this.user_id.firstName}} {{this.user_id.lastName}}</b></p>
          </div>
          <div style="margin: 1rem 0;">
            <p>
              {{this.reviewContent}}
            </p>
          </div>
          {{#if_equal ../currentActiveUserId this.user_id._id}}
          <div id='review-control-buttons'>
            <form action="/review/edit/{{this._id}}/{{../dealerName}}/{{../vehicle.vin}}" method='GET'>
              <button type='submit' id='btn-btn-warning'>
                Edit
              </button>
            </form>
            <form action="/review/delete/{{this._id}}/{{../vehicle.vin}}" method='GET'>
              <button type='submit' id='btn-btn-danger'>
                Delete
              </button>
            </form>
          </div>
          {{/if_equal}}
          <hr style="border-top: 1px solid lightgray">
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>

{{!-- ************ --}}
{{!-- D E A L E R --}}
{{!-- ************ --}}