<div class='header-vehicles-list'>
  {{#if savedVehiclesPage}}
  {{#if vehiclesFromApi}}
  <h2>
    Saved Vehicles
  </h2>
  {{else}}
  <h2>
    No saved vehicles yet
  </h2>
  {{/if}}
  {{/if}}
</div>
{{#each vehiclesFromApi}}
<form action="/vehicles/details/{{this.vin}}" method="POST">
  <input type="hidden" name="dealerLink" value="{{this.clickoffUrl}}">
  <div class='list-of-vehicles'>
    <div class='list-of-vehicles-box'>
      <button type="submit" class="button-to-open-vehicle-details list-vehicles">
        <div id='vehicle-card'>
          <img id='vehicle-primary-img' src="{{this.primaryPhotoUrl}}" alt='' />
          <div class='vehicle-info'>
            <h4 class='vehicle-year-make'>
              {{this.year}}
              {{this.make}}
              {{this.model}}
            </h4>
            {{!-- <hr style="border-top: 2px solid black"> --}}
            {{this.bodyStyle}}
            <h6>
                Exterior
            </h6>{{this.displayColor}}
            <h6>
                Location
            </h6>{{this.city}}, {{this.state}}
            <h5>
              {{this.mileage}} | {{this.price}}
            </h5>
          </div>
        </div>
      </button>
    </div>
  </div>
</form>
{{#if ../usersListOfVehicles}}
<form action="/profile/savedvehicles/delete/{{this.vin}}" method='GET'>
  <button type='submit' class='btn btn-danger'>Remove From Saved List</button>
</form>
{{/if}}
{{/each}}
{{#if errorMessage}}
{{errorMessage}}
{{/if}}