<div id='top-area'>
  <div id='main-search-area'>
    <div>
      <h1 id='slogan'>
        Change Starts Here
      </h1>
    </div>
    <form id='search-form' action='/vehicles' method='POST' autocomplete='off'>
      <div class='form__group'>
        <input
          autofocus
          list='select'
          name='make'
          class='form__input_make'
          placeholder='Make'
        />
        <datalist class='form-control-datalist' id='select'>
          <option value='Acura'></option>
          <option value='Audi'></option>
          <option value='Aurus'></option>
          <option value='BMW'></option>
          <option value='Bugatti'></option>
          <option value='Ferrari'></option>
          <option value='Fiat'></option>
          <option value='Ford'></option>
          <option value='GAZ'></option>
          <option value='Honda'></option>
          <option value='Hyundai'></option>
          <option value='Kamaz'></option>
          <option value='Kia'></option>
          <option value='Lada'></option>
          <option value='Lamborghini'></option>
          <option value='Lexus'></option>
          <option value='Mazda'></option>
          <option value='Mercedes-Benz'></option>
          <option value='Mitsubishi'></option>
          <option value='Nissan'></option>
          <option value='Subaru'></option>
          <option value='Suzuki'></option>
          <option value='Toyota'></option>
          <option value='UAZ'></option>
        </datalist>
        <input
          type='text'
          class='form__input'
          id='model'
          placeholder='Model'
          name='model'
        />
        <input
          type='text'
          class='form__input'
          id='year_min'
          placeholder='Min. year'
          name='year_min'
        />
        <input
          type='text'
          class='form__input'
          id='year_max'
          placeholder='Max. year'
          name='year_max'
        />
      </div>
      <button type='submit' class='search-button'>
        Search
      </button>
    </form>
  </div>
</div>

<div class='main-section'>
  <h1>
    You Might Like
  </h1>
  <div class='set-of-vehicles'>
    {{#each vehiclesFromApi}}
      <form
        class='vehicle-card-index-page'
        action="/vehicles/details/{{this.vin}}"
        method='POST'
      >
        <input type='hidden' name='dealerLink' value="{{this.clickoffUrl}}" />
        <div class='numbers-reviews-badge'>
          <p>
            {{this.reviewLength}} <span class="reviews-badge-text">reviews</span> 
          </p>
        </div>
        <button type='submit' class='button-to-open-vehicle-details'>
          <div class='vehicle-card'>
            <img class='vehicle-img' src="{{this.primaryPhotoUrl}}" alt='' />
            <p>
              {{this.make}} {{this.model}}
            </p>
            <p>
              {{this.mileage}}
            </p>
            <p>
              {{this.price}}
            </p>
          </div>
        </button>
      </form>
    {{/each}}
    {{#if errorMessage}}
      <p>
        {{errorMessage}}
      </p>
    {{/if}}
  </div>
</div>