<div class='user-profile'>
  <div class="user-image-top-left">
    <img class="user-image" src="{{userObject.profilePic}}" alt="image of user" />

  </div>
  <div class='user-details'>
    {{!-- <p>{{userObject.firstName}}</p> --}}
    <h2>
      Name: {{userObject.firstName}} {{userObject.lastName}}
    </h2>
    <h2>
      Location: {{userObject.location}}
    </h2>
    <h2>
      Current Vehicle: {{userObject.currentVehicle}}
    </h2>
    <a href ="/profile/edit">Edit Profile</a>
  </div>

  <div class="user-listings">
    <h2>My Listings</h2>
    <li><a href="">Listing 1</a></li>
    <li><a href="">Listing 2</a></li>
  </div>

  <div class="saved-vehicles">
    <a href="/profile/savedvehicles">Saved Vehicles</a>
  </div>

</div>