<div class='user-profile'>

  <div id="user-profile-top">
    <div id="user-image-div">
      <img src="{{userObject.profilePic}}" alt="image of user" />
    </div>

    <div class='user-details'>
      {{!-- <p>{{userObject.firstName}}</p> --}}
      <h1 id="profile-name"><b>
        {{userObject.firstName}} {{userObject.lastName}}
      </b></h1>
      <p>
        Email: {{userObject.email}}
      </p>
      <a href ="/profile/edit">Edit Profile</a>
    </div>
  </div>

    <div id="user-feed">
      <div id="info-card">
        <div id="info-card-content">
          <h3>
            My Info
          </h3>
        <p>
          Lives in {{userObject.location}}
        </p>
        <p>
          Drives a {{userObject.currentVehicle}}
        </p>
      </div>
      </div>

      {{!-- <div id="right-side-content">
        <div id="user-listings">
          <div id="user-listings-content">
          <h3>My Listings</h3>
          <li><a href="">Listing 1</a></li>
          <li><a href="">Listing 2</a></li>
          </div>
        </div> --}}

        <div id="saved-vehicles">
          <h3>Saved Vehicles</h3>
          <a href="/profile/savedvehicles">View {{userObject.savedVehicles.length}} Saved Vehicle(s)</a>
        </div>
        

      </div>
      <div class="delete-account">
          <form class="delete-account" action="/user/delete/{{userObject._id}}" method="POST">
            <button>Delete Account</button>
          </form>
      </div>

    
    </div>



  </div>