<div class='user-profile'>
  <div class="user-image-top-left">
    <img class="user-image" src="{{userObject.profilePic}}" alt="image of user" />

  </div>
  <div class='user-details'>
    {{!-- <p>{{userObject.firstName}}</p> --}}
    <h1 id="profile-name">
      {{userObject.firstName}} {{userObject.lastName}}
    </h1>
    <p>
      Email: {{userObject.email}}
    </p>
    <a href ="/profile/edit">Edit Profile</a>
    <div id="info-card">
      <div id="info-card-content">
        <h3>
          My Info
        </h3>
      <p>
        Lives in {{userObject.location}}
      </p>
      <p>
        Drives a {{userObject.currentVehicle}}
      </p>
    </div>
    </div>
  </div>

  <div class="user-listings">
    <h2>My Listings</h2>
    <li><a href="">Listing 1</a></li>
    <li><a href="">Listing 2</a></li>
  </div>

  <div class="saved-vehicles">
    <a href="/profile/savedvehicles">Saved Vehicles</a>
  </div>

</div>