<div class='saved-vehicles'>
  <div class="saved cars">
    <img class="user-image" src="" alt="happy car" />

  </div>
  <div class='saved list'>
    <h2>
      Saved Vehicles:
      <br> 
      <a href="/vehicles/details/{{user.savedVehicles.[0]}}">{{user.savedVehicles.[0]}}</a>
      <br>
      <a href="/vehicles/details/{{user.savedVehicles.[1]}}">{{user.savedVehicles.[1]}}</a>
      <br>
      <a href="/vehicles/details/{{user.savedVehicles.[2]}}">{{user.savedVehicles.[2]}}</a>
      <br>
      <a href="/vehicles/details/{{user.savedVehicles.[3].vin}}">{{user.savedVehicles.[3]}}</a>
    </h2>
  </div>

</div>